.btn {
    border: none;
    cursor: pointer;
    background: transparent;
    height: 30px;
    width: 30px;
}

.btn-icon {
    color: white;
}

.media-player {
    display: flex;
    flex-direction: column;
}

.video-container {
    flex-grow: 1
}

.button-container {
    display: flex;
    background: black;
}

.shadow-dark {
    box-shadow: 0 0 15px rgba(0,0,0,1);
}