.btn {
    border: none;
    cursor: pointer;
    background: transparent;
    height: 35px;
    width: 35px;
    margin-bottom: 4px;
    color: white;
    font-size: 20px;
}

.media-player {
    display: flex;
    flex-direction: column;
}

.video-container {
    flex-grow: 1
}

.button-container {
    display: flex;
    background: black;
}

.button-container .btn:first-child {
    margin-right: 4px;
}

.shadow-dark {
    box-shadow: 0 0 15px rgba(0,0,0,1);
}

.time-display {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.current-time {
    padding: 7px 0 0 0;
}

.duration {
    padding: 7px 3px 0 0;
}